configs/config.yml
configs/config_adj2.yml
configs/config_plots.yml

data/*

scripts/addTheoreticalLine.py
scripts/candidateSelection.py
scripts/peak_inspection.py
scripts/results_analysis.py
scripts/rofComparison.py

src/test.ipynb
src/kolmogorov.py

utils/PlotAdjustments.py
utils/CompareGraph.py
utils/compare_graph.py

